<h3 mat-dialog-title>{{people.name}}</h3>
<mat-dialog-content>
    <div>Gender: {{people.gender}}</div>
    <div>Birth Year: {{people.birth_year}}</div>

    <div>Height: {{people.height}}</div>
    <div>Mass: {{people.mass}}</div>
    <div>Hair Color: {{people.hair_color}}</div>
    <div>Skin Color: {{people.skin_color}}</div>
    <div>Eye Color: {{people.eye_color}}</div>


    <div>Height: {{people.height}}</div>
    <div>Height: {{people.height}}</div>


    <div>Created: {{people.created | date}}</div>
    <div>Edited: {{people.edited | date}}</div>
</mat-dialog-content>